/* NO UTILICEIS EN PRINCIPIO ETIQUETAS PRINCIPALES SI SE PUEDE EVITAR Y PONER SIEMPRE EN CADA CLASE QUE HAGAIS UNA INICIAL*/
/*estos primeros divs los voy a utilizar para el cuerpo de la pagina principal*/

span {
    color: red;
}

.h2-f {
    color: black;
    font-family: "MontserratBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.f-texto {
    color: black;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.f-twitter {
    width: 20%;
    height: max-content;
    text-align: justify;
    padding: 50px;
}