/* esto es el css de todos CUIDADO*/
.menu {

    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .premenu {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 1270px;
    height: 40px;
    font-size: 0.875rem;
    color: #000000;



  }

  .listado_accesos {

    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: baseline;
    width: 1270px;
    height: 22px;
    margin-left: 5%;
    margin-right: 5%;

  }

  .cabecera {

    background-color: #ffffff;
    width: auto;
    height: 50px;
  }

  a:link,
  a:visited,
  a:active {


    text-decoration: none;

  }

  .lista {
    list-style-type: none;
    padding-left: 1em;
  }

  .icono {
    background-size: 0.875rem 0.875rem;
    padding-right: 10px;
  }

  .padre {
    clear: both;
    position: relative;
    width: auto;
    height: 130px;
    align-items: center;
    background-color: white padding;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
  }

  .header {
    clear: both;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    max-width: 81.25rem;
    margin: 0px, 301px;
  }

  .navul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

  }

  .navil {
    margin-right: 20px;

  }

  .botones {
    display: flex;

  }

  .botones button {
    margin-right: 10px;
  }

  .enlace,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }